body {
  margin: 0;
  padding: 0;
  background-color: #EFE8DF;
}
.component {
  display: flex;
  align-items: center;
  margin-top: 70px;
  margin-left: 90px;
  margin-right: 80px ;
}
.image {
  max-width: 50%;
  margin-top: 10px;
}
.image img{
  border-radius: 8px;
  height: 380px;
  width: 606px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.6);
}
.info{
  margin-left: 200px;
}
.name {
  font-family: 'Archivo', sans-serif;
  margin-bottom: 30px;
  color: #493933;
  font-weight: bold;
  font-size: 45px;
}
.title{
  padding: 30px;
  margin-left: 15px;
  font-family: 'Archivo', sans-serif;
  color: #493933;
  font-size: 30px;
  font-weight: bolder;
  margin-top: -5px;
  margin-bottom: 20px;
  padding: 0px 10px 0px 10px;
}
.data {
  font-family: 'Archivo', sans-serif;
  color: #493933;
  font-size: 22px;
  font-weight:lighter;
}
.back {
  font-family: 'Archivo', sans-serif;
  width: 110px;
  height: 35px;
  border: 3px solid #493933;
  background-color: #493933;
  color: #EFE8DF;
  border-radius: 4px;
  align-content: center;
  font-weight: bold;
  font-size: large;
  cursor: pointer;
  margin-bottom: 5px;
  margin-top: 60px;
  margin-left: 720px;
}