body {
  margin: 0;
  padding: 0;
}
.searchBar {
  display: grid;
  justify-self: center;
  align-content: center;
  align-self: center;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  width: 200px;
}
.searchBar input {
  height: 40px;
  align-self: center;
  padding-top: 8px;
  border-radius: 8px;
  border: 3px solid #493933;
  color: #493933;
  background-color:#EFE8DF;
  font-family: 'Archivo', sans-serif;
  font-size: 20px;
  font-weight: bold;
  margin-left: 15px;
}
.search {
  margin-left: 15px;
  border: 3px solid #493933;
  border-radius: 8px;
  color: #EFE8DF;
  background-color: #493933;
  font-family: 'Archivo', sans-serif;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}