
.container {
    display: grid;
    justify-content: center;
    position: fixed;
    justify-self: center;
    text-align: center;
    width: 300px;
    height: 420px;
    border-radius: 20px;
    border: 5px solid rgba(255,214,127,1);
    background: transparent;
    backdrop-filter: blur(6px);
    margin-top: 303px;
    transition: 200ms;
    z-index: 1;
  }
  
.container:hover {
    box-shadow: 3px 3px 20px #ffffff, -3px -3px 20px rgba(255,214,127,1);
}
  
.form h1{
  color: white;
  background: -webkit-linear-gradient(45deg, #ffffff, rgba(255,214,127,1)) border-box;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-stroke: 2px;
  text-shadow:
  -10px -1px 0 #000, /* Sombra superior izquierda */
  1px -1px 0 #000, /* Sombra superior derecha */
 -10px  1px 0 #000, /* Sombra inferior izquierda */
  1px  1px 0 #000; /* Sombra inferior derecha */;
}

.homeButton{
  background: transparent;
  border-color: rgba(255,214,127,1);
  box-shadow: 3px 3px 20px #ffffff, -3px -3px 20px rgba(255,214,127,1);
  border-radius: 10%;
  height: 50px;
  width: 115px;
  margin-top: 150px;
  color: white;
  font-family: 'Audiowide', cursive;
  font-weight: bolder;
  font-size: large;
  text-shadow:
  -5px -1px 0 #000, /* Sombra superior izquierda */
  1px -1px 0 #000, /* Sombra superior derecha */
 -5px  1px 0 #000, /* Sombra inferior izquierda */
  1px  1px 0 #000; /* Sombra inferior derecha */;
  padding-left: 10px;
}

.homeButton:hover{
  scale: 1.05;
  transition: 200ms;
}