body {
  margin: 0;
  padding: 0;
}
.container {
  display: grid;
  justify-content: center;
  text-align: center;
  transition: 200ms;
  z-index: 1;
  margin-top: auto;
}
.homeButton{
  font-family: 'Archivo', sans-serif;
  border-radius: 12px;
  height: 50px;
  width: 115px;
  margin-top: 20px;
  font-size: large;
  padding-left: 10px;
  border: 3px solid #493933;
  background-color: #493933;
  color: #EFE8DF;
  font-size: 20px;
  cursor: pointer;
}
.imagen{
  display: flex;
  justify-content: center;
  margin-bottom: auto;
}
.supercontainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #EFE8DF;
}
.minicontainer{
  margin-bottom: 80px;
  font-family: 'Archivo', sans-serif;
  color: #493933;
}
.intro{
  width: 600px;
  margin-left: 170px;
  color: #493933;
  font-size: 18px;
  font-family: 'Archivo', sans-serif;
}