body {
  margin: 0;
  padding: 0;
  background-color: #EFE8DF;
}
.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 25px;
  margin-top: 40px;
  max-width: 100vw;
  margin-left: 45px;
}
.container::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  background-position: center;
  opacity: 35%;
}
.paginado{
  margin-left: 270px;
  padding-bottom: 5px;
  margin-bottom: 15px;
}
.btn{
  font-family: 'Archivo', sans-serif;
  font-size: 24px;
  margin-right: 20px;
  margin-left: 20px;
  margin-top: 30px;
  cursor: pointer;
  color: #EFE8DF;
  background-color: #493933;
  border: 2px solid #493933;
  border-radius: 4px;
}
.actual{
  font-family: 'Archivo', sans-serif;
  margin-left: 3px;
  margin-right: 3px;
  font-size: 15px;
  cursor: pointer;
  color: #493933;
  background-color: #EFE8DF;
  border: 2px solid #493933;
  border-radius: 4px;
}
.other{
  font-family: 'Archivo', sans-serif;
  margin-left: 3px;
  margin-right: 3px;
  font-size: 15px;
  cursor: pointer;
  color: #EFE8DF;
  background-color: #493933;
  border: 2px solid #493933;
  border-radius: 4px;
}