.filters {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr 1fr;
  margin-right: 60px;
}
.filters select {
  margin: 10px;
  height: 40px;
  width: 140px;
  align-self: center;
  font-size: 20px;
  padding-left: 8px;
  font-weight: bold;
  font-family: 'Archivo', sans-serif;
  border-radius: 8px;
  border: 3px solid #493933;
  color: #EFE8DF;
  background-color: #493933;
  cursor: pointer;
}
